<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TliuyanMapper">
	<select id="findTliuyanList" 
		resultType="Tliuyan">
		select * from tliuyan 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="Tliuyan">
		select * from tliuyan  
		<where>
			<if test="id!=null and id!=0">
			   and id= #{id}
			</if>
		</where>
	</select>
	
	
	<select id="queryTliuyanById" parameterType="int" resultType="Tliuyan">
		select * from tliuyan where id=${value}
	</select>
 


	<insert id="insertTliuyan" useGeneratedKeys="true" keyProperty="id" parameterType="Tliuyan">
		insert into tliuyan
		(liuyantitle,liuyancontent,liuyandate,liuyanuser)
		values
		(#{liuyantitle},#{liuyancontent},#{liuyandate},#{liuyanuser});
	</insert>
 
	
  
 
 
 
 



	<update id="updateTliuyan" parameterType="Tliuyan" >
		update tliuyan set
		liuyantitle=#{liuyantitle},liuyancontent=#{liuyancontent},liuyandate=#{liuyandate},liuyanuser=#{liuyanuser}
		where
		id=#{id}	
	</update>
	
 
	
	<delete id="deleteTliuyan" parameterType="int">
	    delete from  tliuyan where id=${value}
	</delete>

</mapper>

 